<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>meme-creator</title>
    <meta name="description" content="<%
      if (description) { -%>Simple meme creator using Polymer 2<% } else { -%>meme-creator description<% }
    -%>">

    <!-- See https://goo.gl/OOhYW5 -->
    <link rel="manifest" href="/manifest.json">

    <script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>

    <link rel="import" href="/src/meme-creator/meme-creator.html">
    <link rel="import" href="/src/meme-image/meme-image.html">
    <link rel="import" href="/src/meme-form/meme-form.html">
  </head>
  <body>
    <meme-creator></meme-creator>
  </body>
</html>
